.img-topic{
    position: relative;
    
}
.img-title{
    position: absolute;
    bottom: 5px;
    left:auto;
    font-size: 16px;
    z-index: 2;
    color:rgba(248, 247, 247, 0.911);
    font-family:'Unna';
}
.img-topic:hover{
    transform: scale(1.1);
    transition: 0.5s;
    cursor:pointer
}
/* changes pictures size 28/03 */

/* .imgCard{
    
    max-width: 120rems;
    max-height: 120px;
} */


/* .clicked{
    opacity: 50;
    border:1px solid palevioletred
}
 */
